.container {
  display: flex;
  margin: 10px 0;

  align-items: center;
  text-align: center;
  p {
    font-size: 0.8rem;

    .caret {
      display: inline-block;
      align-self: center;
      width: 12px;
      height: 16px;
      background-color: #fff;
    }
  }
}

// .hidden {
//   display: none;
// }
